page {
  box-sizing: border-box;
  .player {
    position: fixed;
    bottom: 0;
    left: 16px;
    right: 16px;
    z-index: 1000;

    .player-cell {
      margin: 0;
    }

    & > .nut-safe-area {
      background: white;
    }
  }
}
